@import url(speedometer.css);

html, body {
    /* margin: auto; */
}

.page-container {
    width: 800px;
    margin: auto;
    height: 100%;
    /* background-color: #f5f5f5; */
}

.page-description {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-size: 19px;
}

h1 {
    /*background: green;*/
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.test-results {
    font-family: 'Questrial', sans-serif;
    margin-bottom: 10px;
    font-size: 19px;
}

.test-ui {
    /* background: yellow; */
    display: flex;
    flex-direction: column;

    /*height: 375px;*/
    width: 600px;
    border: 1px solid black;
    margin: auto;
}

.words-container {
    height: 216px;
    /*margin: 10px;*/

    text-align: center;
    overflow: hidden;
    flex: 1 1 auto;
}

.scrollable-words-container {
    position: relative;
    margin: 10px;
}

.task-word {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    /* float: left; */
    /* workaround for natural spacing between inline-block elements */

    /*margin: 3px 0 3px -4px;*/
    margin: 3px 0 3px 0;
    padding: 2px 5px 2px 5px;
    font-size: 22px;
}

.task-word-correct {
    color: white;
    background: rgba(150,208,89,0.658);
}

.task-word-incorrect {
    color: white;
    background: rgba(255,0,0,0.341);
}

.task-word-current {
    color: black;
    background: #ddd;
}

.task-word-current::first-letter {

}

.underline::first-letter {
    text-decoration: underline;
}

.task-word-typed-char {
    float: left;
}

.task-word-typed-char-incorrect {
    color: red;
}

.test-ui-footer {
    background: #f3f3f3;
    border-top: 1px solid black;
    height: 40px;

    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    /* margin-top: auto; */

    padding: 0 5px 0 5px;
}

.test-ui-input {
    /* float: left;
    margin: auto; */

    flex: 1;

    width: 100%;
    height: 100%;

    border: 0;
    background: transparent;
    outline: none;
    text-align: center;

    font-family: 'Roboto Mono', monospace;
    color: #111;
    font-size: 25px;
}

.test-timer {
    width: 65px;
    /* text-align: center; */
    margin-left: 4px;

    font-family: 'Roboto Mono', monospace;
    font-size: 18px;

    /* vertical content centering with flex */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* potential mixin use case */
.vert-centered-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.vert-centered-text {
    margin: auto;
}

.restart-container {
    width: 65px;
}

.restart {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;

    width: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.new-test {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;

    border-bottom: 1px solid grey;
    cursor: pointer;

    color: black;
    text-decoration: none;
}

.test-stats {
    display: flex;
    flex-direction: column;

    height: 180px;
    width: 350px;
    border: 1px solid black;
    margin: 35px auto auto;
}

.test-stats-footer {
    background: #f3f3f3;
    border-top: 1px solid black;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    padding: 0 5px 0 5px;
}

.test-stats .test-stats-value-description {
    font-family: 'Roboto Mono', monospace;
}

.test-stats .test-stats-value-description.dashed-underline {
    border-bottom: 1px dashed grey;
}

.test-stats .test-stats-value-description:after {
    content: ":";
    border-bottom: 1px solid #f3f3f3;
    text-decoration: none;
    outline: none;
}

.test-stats-value {
    font-family: 'Roboto Mono', monospace;
    background: white;
    width: 40px;

    margin-right: auto;
    margin-left: 5px;

    text-align: center;
}

.test-results-container {
    text-align: center;
    /*flex: 1 1 auto;*/
    margin: 10px;
}

#test-results-value-cpm {
    font-size: 28px;
    font-weight: bold;
}